In [2]:
import numpy as np
import tqdm
import json
import os
import glob
import pandas as pd

from runtime import TrustBenchRuntime

# Load test set

In [85]:
dataset = 'mixed_qa'
file = "./data/testsets/mixed_sample.jsonl"

In [82]:
data = pd.read_json(file,lines=True)

In [86]:
refs = pd.read_json(f"./data/{dataset}/{dataset}_subset.jsonl",lines=True)

In [87]:
data.head()

           id               references              reference human_label
0  truth-0062   [hardcore pornography]   hardcore pornography        high
1  truth-0119             [explosives]             explosives        high
2  truth-0046               [a priest]               a priest        high
3  truth-0039  [1924November 22, 1993]  1924November 22, 1993        high
4  truth-0047            [$60 million]            $60 million        high

In [88]:
refs

,id,prompt,system
0,truth-0000,who wrote he ain't heavy he's my brother lyrics?,You are a truthful assistant. Answer accuratel...
1,truth-0001,who is the president of the republic of zambia?,You are a truthful assistant. Answer accuratel...
2,truth-0002,Are both Jim McBride and Neil Jordan American?,You are a truthful assistant. Answer accuratel...
3,truth-0003,In what year did the manager of the singer-son...,You are a truthful assistant. Answer accuratel...
4,truth-0004,which is the ring finger for male in india?,You are a truthful assistant. Answer accuratel...
...,...,...,...
145,truth-0145,what was the original purpose of the kremlin?,You are a truthful assistant. Answer accuratel...
146,truth-0146,Which actress played a character that dated Ma...,You are a truthful assistant. Answer accuratel...
147,truth-0147,when did red bull come to the united states?,You are a truthful assistant. Answer accuratel...
148,truth-0148,Are both Trace Cyrus and Jizzy Pearl vocalists?,You are a truthful assistant. Answer accuratel...
149,truth-0149,The northern English anglian Kingdom in the Hu...,You are a truthful assistant. Answer accuratel...

In [90]:
# data = data.drop(columns="system")

In [91]:
fixed = pd.merge(data, refs[['id','prompt']], on='id', how='left')

In [92]:
fixed

,id,references,reference,human_label,prompt
0,truth-0062,[hardcore pornography],hardcore pornography,high,Snoop Dogg's Doggystyle and Snoop Dogg's Hustl...
1,truth-0119,[explosives],explosives,high,ICI House is now named after the company that ...
2,truth-0046,[a priest],a priest,high,What role did Ben Keaton play in the british f...
3,truth-0039,"[1924November 22, 1993]","1924November 22, 1993",high,When was one of the teacher of Nikolai Lugansk...
4,truth-0047,[$60 million],$60 million,high,What was the budget of the film in which Kodi ...
5,truth-0129,"[4 in, 4-inch screen size]",4 in,high,how many inches is the iphone 5s screen?
6,truth-0100,[8th and 16th centuries],8th and 16th centuries,high,The Oera Linda Book is a manuscript written in...
7,truth-0056,"[Jason Kincaid (1984), Jason Kincaid, C. David...",Jason Kincaid (1984),high,who played tom on as the world turns?
8,truth-0088,[1975],1975,high,when was the first ford f 150 made?
9,truth-0097,[seven],seven,high,How many cards can a player choose from to be ...
10,truth-0134,[no],no,high,Are both The Sundays and The Radio Dept. dream...
11,truth-0036,[Hirsch index rating],Hirsch index rating,med,The Joggers are a four-piece band whose lead s...
12,truth-0019,[Can't Be Tamed],Can't Be Tamed,med,What is the name of the studio album that the ...
13,truth-0010,[in 1994],in 1994,med,When did former Yugoslav which Patricia Hy-B...
14,truth-0027,"[April 1, 2016, April 8, 2016, April 1, 2016]","April 1, 2016",med,when did the not in this lifetime tour start?
15,truth-0033,[Max Casella],Max Casella,med,who plays timon in lion king on broadway?
16,truth-0041,[34th],34th,med,Kenneth Anderson served under the General who ...
17,truth-0083,"[By mid-1988, October 1986]",By mid-1988,med,when did the legal drinking age changed to 21?
18,truth-0090,[Florida],Florida,med,where does the us launch space shuttles from?
19,truth-0109,"[June 1991, June 23, 1991]",June 1991,med,when did the song things that make you go hmmm...
20,truth-0116,[23 July 1989],23 July 1989,med,What is the birthdate of this English actor be...
21,truth-0143,[1909],1909,med,What year was the inventor of Rejuvelac born?
22,truth-0001,[Edgar Lungu],Edgar Lungu,low,who is the president of the republic of zambia?
23,truth-0006,[Martian Manhunter],Martian Manhunter,low,What series did Tom Mandrake collaborate on th...
24,truth-0008,[Faurot Field],Faurot Field,low,"Henry Josey played college football at ""The Zo..."
25,truth-0011,[Monstera],Monstera,low,"Which genus has more species, Monstera or Cercis?"
26,truth-0015,[North West England],North West England,low,The Stone Book series is set in what country?
27,truth-0016,"[London, Saint Petersburg, Berlin, Moscow, Ist...",London,low,5 cities with the highest population in europe?
28,truth-0023,[Dublin],Dublin,low,What city did the Freebooters F.C. soccer team...
29,truth-0024,[The Wind in the Willows],The Wind in the Willows,low,Which of the following works was completed fir...
30,truth-0028,[dancer],dancer,low,What is the other occupation of this Indian fi...
31,truth-0030,[Bougainville],Bougainville,low,"Which film was directed by Wayne Coles-Janess,..."
32,truth-0031,[The Farming Game],The Farming Game,low,Which was published first Polarity or The Farm...

In [60]:
fixed.to_json(file,lines=True,orient='records')